<div class="container">

 <ul class="nav navbar-nav center">
      <li><%= link_to "+ VIDEOS", releases_path %></li>
      <li><%= link_to "+ PODCASTS",  media_path %> </li> 
      <li><%= link_to "+ VISUALS", media_path %></li>
      <li><%= link_to "+ POSTS",  posts_path %></li>     
    </ul>


</div>