<div class="jumbotron">
  <div class="container text-center">       
  <h1 class="text-center">Welcome to <span class="highlight">Sound Of Kla </span> </h1>

   <p class="lead center" style="color:#777">We are an online distribution music platform whose mission is to help you discover up and coming  <br/> artists making great music in Africa & Worldwide</p>
        <br/>
        <a class="btn btn-lg" href="about"> Discover</a>
  </div>
</div>
